<h3><i class="fas fa-envelope-open-text"></i> Whatnot Posts</h3>
<div class="section">
  <p class="lead">Create public and private posts</p>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/users/login" class="btn red darken-2">
    Log In
  </a>
</div>
