<h3>Create Post</h3>
<div class="section">
  <form action="/posts" method="POST" autocomplete="off">
    <div class="row">
      <div class="input-field">
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
      </div>
    </div>
      <div class="row">
        <div class="input-field">
          <select name="status" id="status">
            <option value="public" selected>Public</option>
            <option value="private">Private</option>
          </select>
          <label for="status">Status</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <h5>Make a post</h5>
          <textarea name="body" id="body"></textarea>
        </div>
      </div>
      <div class="row">
        <input type="submit" value="Save" class="btn">
        <a href="/dashboard" class="btn orange">Cancel</a>
      </div>
  </form>
</div>
